{% extends 'base.html' %}


{% block body %}

{% load static %}

<h1 class="display-1 text-center" style="color: gray;"><b><b>Dinner</b></b></h1>
<p class="text-muted text-center">Fill what you ate for dinner!</p>

<center> <img src="{% static 'images/dinner.png' %}" style="HEIGHT:700px;" class="mb-5"> </center>

<form class="" method="post">
  {% csrf_token %}

  <div class="container">

    {% for item in DFoodForm.food %}

      <h3>{{item}}</h3>
      <br>

    {% endfor %}

  </div>

  <center> <input type="submit" class="btn btn-outline-light btn-lg mb-5" name="" value="Check your calorie status!"> </center>

</form>





{% endblock %}
