{% extends 'base.html' %}


{% block body %}
{% load static %}
<br><br><br><br>

<img src="{% static 'images/apple.png' %}" style="position: absolute; TOP:5%; RIGHT:0px; WIDTH:auto; HEIGHT:750px;">


<div class="container">
  <h1 class="heading">Nutrinut</h1>
  <p class="text">Your Nutrition Buddy</p>
</div>








  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <div class="container">

    <h1 class="display-3">About Us</h1>
    <p style="font-family: dm sans; font-size: 20px;" class="my-5">
      A major problem that college students face is the lack of proper intake of nutrients/lack of proper information of the amount of nutrients that they have on a daily basis through the mess food they consume. Therefore, in order to curb this issue, we have planned to come up with NUTRINUT to help the students by giving them the information of the amount of nutrients that they have consumed after selecting the food items of their choice from the daily mess menu input. We also plan to inform of the total nutritional value and lack thereof from the average/recommended body intake as suggested by asking them for their choice of food input from the respective day's mess menu and helping them give an estimate about it, thus suggesting them supplements like fruits and nuts so that their daily diet is nutritious.
    </p>

  </div>





{% endblock %}
